
	<div class="backdrop flexColumn">
		<div id="introBody" class="flexRow">
			<div class="endStrip"></div>
			<div id="introPallet" class="flexColumn">
				<div class="fSize4">Market Numbers</div>
				<div class="fSize2-2">for</div>
				<div class="fSize2-6">{{today}}</div>
			</div>
			<div class="endStrip"></div>
		</div>
<!-- S&P Data -->
		<div class="displayPallet flexColumn">
			<div class="palletTitle fSize2">S&amp;P 500</div>
			<div class="fSize1-4">Record high of {{spHigh.value}} on {{spHigh.date}}.</div>
			<div class="fSize1-4">A close of {{latestClose.value}} on {{latestClose.date}} was {{latestClose.percentage}}% off the high.</div>
			<div class="fSize1-2">-- Last five closes --</div>
			<div id="barChart" style="width: {{spPlacement.divWidth}}rem;">

				<div id="barFiveValue" class="fSize1"style="margin-left: {{spPlacement.barFiveValueLeft}}rem;">{{spPlacement.barFiveValue}}</div>

				<div id="groupFive" class="barPositionOne" style="margin-left: {{spPlacement.barFiveLeft}}rem;">
					<div id="beforeFive" class="barText before">{{spPlacement.barFiveBefore}}</div>
					<div id="barFive" class="bars" style="width: {{spPlacement.barFiveWidth}}rem; background: {{spPlacement.barFiveBackground}}"></div>
					<div id="afterFive" class="barText after">{{spPlacement.barFiveAfter}}</div>
				</div>

				<div id="groupFour" class="barPosition" style="margin-left: {{spPlacement.barFourLeft}}rem;">
					<div id="beforeFour" class="barText before">{{spPlacement.barFourBefore}}</div>
					<div id="barFour" class="bars" style="width: {{spPlacement.barFourWidth}}rem; background: {{spPlacement.barFourBackground}}"></div>
					<div id="afterFour" class="barText after">{{spPlacement.barFourAfter}}</div>
				</div>

				<div id="groupThree" class="barPosition" style="margin-left: {{spPlacement.barThreeLeft}}rem;">
					<div id="beforeThree" class="barText before">{{spPlacement.barThreeBefore}}</div>
					<div id="barThree" class="bars" style="width: {{spPlacement.barThreeWidth}}rem; background: {{spPlacement.barThreeBackground}}"></div>
					<div id="afterThree" class="barText after">{{spPlacement.barThreeAfter}}</div>
				</div>

				<div id="groupTwo" class="barPosition" style="margin-left: {{spPlacement.barTwoLeft}}rem;">
					<div id="beforeTwo" class="barText before">{{spPlacement.barTwoBefore}}</div>
					<div id="barTwo" class="bars" style="width: {{spPlacement.barTwoWidth}}rem; background: {{spPlacement.barTwoBackground}}"></div>
					<div id="afterTwo" class="barText after">{{spPlacement.barTwoAfter}}</div>
				</div>

				<div id="groupOne" class="barPosition" style="margin-left: {{spPlacement.barOneLeft}}rem;">
					<div id="beforeOne" class="barText before">{{spPlacement.barOneBefore}}</div>
					<div id="barOne" class="bars" style="width: {{spPlacement.barOneWidth}}rem; background: {{spPlacement.barOneBackground}}"></div>
					<div id="afterOne" class="barText after">{{spPlacement.barOneAfter}}</div>
				</div>

				<div class="fSize1" style="margin-left: {{spPlacement.barOneValueLeft}}rem;">{{spPlacement.barOneValue}}</div>

			</div>
			<div id="spMoreData" class="fSize1-2 flexRow">
				<div id="spButtonTitle">There is more data with just a click.</div>
				<form id="spButtonHolder" action="/spData" method="GET">
					<button type="submit" id="spButton" class="fSize1">S&amp;P Data</button>
				</form>
			</div>
			<div class="palletBottom"></div>
		</div>
<!-- Earnings Data -->
		<div class="displayPallet flexColumn">
			<div class="palletTitle fSize2">S&amp;P Earning</div>
			<div class="fSize1-4">For the most recent quarter ending in {{spEarnings.recentDate}}.</div>	
			<div class="fSize1-4">The S&amp;P earnings were {{spEarnings.recentEarnings}}, a P/E of {{spEarnings.recentPE}}.</div>		
			<div class="fSize1-4">That's a P/E of {{spEarnings.recentTTM}} for the trailing twelve months (TTM).</div>
			<div id="compareTitle" class="fSize1-4">Compare that with these TTM.</div>
			<div class="flexRow">
				<div class="comparisons flexColumn">
					<div class="fSize1-4">{{spEarnings.oneYearTTM}}</div>
					<div class="fSize1-2">One year ago</div>
				</div>
				<div class="comparisons flexColumn">
					<div class="fSize1-4">{{spEarnings.twoYearTTM}}</div>
					<div class="fSize1-2">Two years ago</div>
				</div>
				<div class="comparisons flexColumn">
					<div class="fSize1-4">{{spEarnings.fiveYearTTM}}</div>
					<div class="fSize1-2">Five years ago</div>
				</div>
				<div class="comparisons flexColumn">
					<div class="fSize1-4">{{spEarnings.allYearTTM}}</div>
					<div class="fSize1-2">Since 2000</div>
				</div>
			</div>
			<div class="palletBottom"></div>
		</div>
<!-- Leading Economic Index -->
		<div class="displayPallet flexColumn">
			<div class="palletTitle fSize2">Leading Economic Index</div>
			<div class="fSize1-4">The Conference Boards Leading Economic Index</div>
			<div class="fSize1-4">{{economicIndex.lastMonth}}</div>
			<div class="fSize1-4">for the month of {{economicIndex.month}}.</div>
			<div class="fSize1-4 spaceTB">The index has {{economicIndex.not}} increased {{economicIndex.up}} the last 4 months.</div>
			<div class="fSize1-2">The index has averaged a {{economicIndex.average}}% monthly {{economicIndex.averageDirection}} over the last {{economicIndex.totalTime}}+ years.</div>
			<div class="palletBottom"></div>
		</div>
<!-- Consumer Confidence Index -->
		<div class="displayPallet flexColumn">
			<div class="palletTitle fSize2">Consumer Confidence Index</div>
			<div class="fSize1-4">The Conference Boards Consumer Confidence Index</div>
			<div class="fSize1-4">- {{confidenceData.lastMonth}} -</div>
			<div class="fSize1-4">for the month of {{confidenceData.month}}.</div>
			<div class="fSize1-4 spaceTB">The string of monthly {{confidenceData.months}} stand at {{confidenceData.times}}.</div>
			<div class="fSize1-2">Year over year, there as been a {{confidenceData.changePercent}}% {{confidenceData.lastYear}} in that number.</div>
			<div class="fSize1-2">A drop of 15% or more usually signals a recession.</div>
			<div class="palletBottom"></div>
		</div>
<!-- Fed Funds Rate Change -->
		<div class="displayPallet flexColumn">
			<div class="palletTitle fSize2">Federal Funds Rate Movement</div>
			<div class="fSize1-4">The last Federal Funds Rate move was on {{fedFundsData.moveDate}}.</div>
			<div class="fSize1-4">It was {{fedFundsData.directionRecent}} by {{fedFundsData.amountRecent}} {{fedFundsData.qtyRecent}} to {{fedFundsData.rateRecent}}.</div>
			<div class="fSize1-2 spaceTB">{{fedFundsData.formattedLast}} it was {{fedFundsData.directionLast}} by {{fedFundsData.amountLast}} {{fedFundsData.qtyLast}}.</div>
			<div class="fSize1-2">{{fedFundsData.formattedPrior}} prior to that it was {{fedFundsData.directionPrior}} by {{fedFundsData.amountPrior}} {{fedFundsData.qtyPrior}}.</div>
			<div class="palletBottom"></div>
		</div>
<!-- Yield Curve Data -->
		<div id="inversionPallet" class="displayPallet">
			<div class="palletTitle fSize2">What! An inverted yield curve.</div>
			<div id="invertInfo" class="fSize1-2">In this group of quarters the 3 month Treasury Bills interest rate traded higher than the 10 year Note for a full quarter.  For each occasion the S&amp;P return and GDP are listed for the years prior and after the inversion.  Also listed is how long before we experienced a recession.</div>
			<div class="fSize1-4 spaceTB">S&amp;P yearly returns | GDP per year</div>
			<div class="flexRow pushEnd">
				<div class="commanYear quarterYear fSize1-2 flexColumn">3rd quarter 2000</div>
				<div class="commanYear quarterYear fSize1-2 flexColumn">3rd quarter 2006</div>
				<div class="commanYear quarterYear fSize1-2 flexColumn">3rd quarter 2019</div>
			</div>
			{{#each inversions}}
				<div class="flexRow pushEnd">
					<div class="commanYear year fSize1-2 flexRow">{{timePeriod}}</div>
					<div class="commanYear yearData fSize1-2 flexRow">{{sp00}}{{gdp00}}</div>
					<div class="commanYear yearData fSize1-2 flexRow">{{sp06}}{{gdp06}}</div>
					<div class="commanYear yearData fSize1-2 flexRow">{{sp19}}{{gdp19}}</div>
				</div>
			{{/each}}
			<div class="palletBottom"></div>
		</div>
<!-- 10vs2 Treasury Data -->
		<div class="displayPallet flexColumn">
			<div class="palletTitle fSize2">10 vs 2 year Treasury</div>
			<div class="fSize1-4">{{tenVsTwo.theMonth}}'s spread was {{tenVsTwo.recentSpread}}.</div>
			<div class="fSize1-4">Two months ago the spread was {{tenVsTwo.twoSpread}},</div>
			<div class="fSize1-4 spaceBottom">and four months ago the spread was {{tenVsTwo.fourSpread}}.</div>
			<div class="fSize1-2">From 1981, the spread turned negative or very close to it</div>
			<div class="fSize1-2">prior to every recession and once it turned ngeative,</div>
			<div class="fSize1-2 spaceBottom"> the recession started X months later.</div>
			<div class="fSize1-2">1981: 11 months; 1990: 20 months; 2001: 14 months; 2007: 24 months,</div>
			<div class="fSize1-2">and for the recession of 2020, the spread got as low as 0.07</div>
			<div class="fSize1-2">five months before the recession started.</div>
			<div class="palletBottom"></div>
		</div>
<!-- CPI Data -->
		<div class="displayPallet flexColumn">
			<div class="palletTitle fSize2">Consumer Price Index</div>
			<div class="fSize1-4">The CPI for the last 12 months was {{cpiYearly.thisOne}}%.</div>
			<div class="fSize1-2 spaceBottom">The data used is seasonally adjusted.</div>			
			<div class="flexRow">
				<div class="comparisons flexColumn">
					<div class="fSize1-4">{{cpiYearly.oneAgo}}%</div>
					<div class="fSize1-2">for year {{cpiYearly.oneYear}}</div>
				</div>
				<div class="comparisons flexColumn">
					<div class="fSize1-4">{{cpiYearly.twoAgo}}%</div>
					<div class="fSize1-2">for year {{cpiYearly.twoYear}}</div>
				</div>
				<div class="comparisons flexColumn">
					<div class="fSize1-4">{{cpiYearly.threeAgo}}%</div>
					<div class="fSize1-2">for year {{cpiYearly.threeYear}}</div>
				</div>
			</div>
			<div class="palletBottom"></div>
		</div>
<!-- GDP Data -->
		<div class="displayPallet flexColumn">
			<div class="palletTitle fSize2">Gross Domestic Product</div>
			<div class="fSize1-4">For the {{gdpResults.presentQuarter}} quarter of {{gdpResults.presentYear}},</div>
			<div class="fSize1-4">the GDP reading was {{gdpResults.presentResults}}%.</div>
			<div class="fSize1-4 spaceTB">Last year's ({{gdpResults.previousYear}}) GDP was {{gdpResults.previousGdp}}%.</div>
			<div class="fSize1-2">The most recent high of {{gdpResults.recentHigh}}% was in year {{gdpResults.recentYear}}.</div>			
			<div class="fSize1-2">And the average GDP over the last number of years is as follows:</div>			
			<div class="fSize1-2">Five year: {{gdpResults.fiveYear}}%; Ten year: {{gdpResults.tenYear}}%; Fifteen year: {{gdpResults.fifteenYear}}%</div>
			<div class="palletBottom"></div>
		</div>
<!-- Unemployment Data -->
		<div class="displayPallet flexColumn">
			<div class="palletTitle fSize2">State of Employment</div>
			<div class="fSize1-4">As of the first of the month, the unemployment rate is {{jobData.theRate}}%.</div>
			<div class="fSize1-2">{{jobData.theAverage}}% is the 3 month rate average.</div>			
			<div class="fSize1-6 spaceTB">Rate gap explaination</div>
			<div class="fSize1-2">A gap of 0.3 from here to the previous 12 months low point,</div>
			<div class="fSize1-2">signals a possible recession.</div>
			<div class="fSize1-2">If it gets to 0.5 then a downturn probably has already begun.</div>
			<div class="fSize1-4 spaceTop">The current rate gap is {{jobData.theGap}}</div>
			<div class="palletBottom"></div>		
		</div>
<!-- Dollar Index Data -->
		<div class="displayPallet flexColumn">
			<div class="palletTitle fSize2">Dollar Index</div>
			<div class="fSize1-4">For the month of {{dollarIndex.dollarMonth}} the index was priced at {{dollarIndex.dollarPrice}}</div>
			<div class="fSize1-2">At the beinning of the year it was {{dollarIndex.yearFirst}}.</div>
			<div class="fSize1-2 spaceBottom">Listed are yearly averages from years past.</div>
			<div class="flexRow">
				<div class="comparisons flexColumn">
					<div class="fSize1-4">{{dollarIndex.average1}}</div>
					<div class="fSize1-2">for year {{dollarIndex.year1}}</div>
				</div>
				<div class="comparisons flexColumn">
					<div class="fSize1-4">{{dollarIndex.average2}}</div>
					<div class="fSize1-2">for year {{dollarIndex.year2}}</div>
				</div>
				<div class="comparisons flexColumn">
					<div class="fSize1-4">{{dollarIndex.average3}}</div>
					<div class="fSize1-2">for year {{dollarIndex.year3}}</div>
				</div>
			</div>
			<div class="palletBottom"></div>
		</div>
<!-- Yuan to Dollar Data -->
		<div class="displayPallet flexColumn">
			<div class="palletTitle fSize2">Ratio of Chinese Yuan's to the Dollar</div>
			<div class="fSize1-4">At the end of {{yuan.thisMonth}}, it took {{yuan.current}} Chinese Yuan's</div>
			<div class="fSize1-4 spaceBottom">to equal one US dollar.</div>			
			<div class="fSize1-2">From January, 2017 to date,</div>
			<div class="fSize1-2">With a strong dollar reading of {{yuan.dollarHigh}} on {{yuan.dollarHighDate}},</div>
			<div class="fSize1-2">it took {{yuan.yuanAtHigh}} Yuan.  {{yuan.yuanHigh}} has been the most Yuan needed.</div>			
			<div class="fSize1-2">With a weak dollar reading of {{yuan.dollarLow}} on {{yuan.dollarLowDate}},</div>
			<div class="fSize1-2 spaceBottom">it took {{yuan.yuanAtLow}} Yuan.  {{yuan.yuanLow}} has been the least Yuan needed.</div>
			<div class="fSize1-2">For the last three months the Yuan's direction has been</div>
			<div class="fSize1-2">{{yuan.direction}} value against the dollar.</div>
			<div class="palletBottom"></div>
		</div>
<!-- Gold Data -->
		<div class="displayPallet flexColumn">
			<div class="palletTitle fSize2">Ratio of Gold to the S&amp;P</div>
			<div class="fSize1-4 spaceBottom">The ratio for {{displayGLD.month}} was {{displayGLD.ratio}}.</div>
			<div class="fSize1-4 spaceBottom">The ratio averaged {{displayGLD.half}} for the last six months.</div>
			<div class="fSize1-2">Ratios from the year {{displayGLD.startYear}} to date,</div>
			<div class="fSize1-2">A high of {{displayGLD.highs}} in {{displayGLD.highsDates}},</div>
			<div class="fSize1-2">and a low of {{displayGLD.lows}} in {{displayGLD.lowsDates}}.</div>
			<div class="palletBottom"></div>
		</div>

		<div id="clearBottom"></div>
	</div>
