
	<div id="backdrop" class="flexColumn">
		<div id="introBody" class="flexRow">
			<div class="endStrip"></div>
			<div id="introPallet" class="flexColumn">
				<div id="introSubject">Market Numbers</div>
				<div id="introFor">for</div>
				<div id="introDate">{{today}}</div>
			</div>
			<div class="endStrip"></div>
		</div>

		<div id="spPallet">
			<div id="spTitle">S&P 500</div>
			<div id="spCloses">Record high of {{spHigh.value}} on {{spHigh.date}}.<br />
				Most recent close: {{latestClose.value}}, {{latestClose.percentage}}% off the high.
			</div>


		</div>
	</div>










	<form id="buttonHolder" action="/apiData" method="GET">
		<button type="submit" id="getData">Get<br />the<br />Data</button>
	</form>

	<script src="/javascript/mainPage.js"></script>



